
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
.loc{
    width: 0%;
  }
  
    .whole{
      margin-top: 3em;
      /* text-align: center; */
      padding-left:0.5em;
    }
     /* .align{
  
      align-content: center;
      align-items: center;
    } */
    .par{
      text-align: left;
    }
    .par2{
        text-align: center;
      }
      input[type="email"]::placeholder {  
              
        /* Firefox, Chrome, Opera */ 
        text-align: center; 
    } 
  input{
    
    background: #E8F5F5;
    border: 2px solid #1D55E5;
    box-sizing: border-box;
    border-radius: 12px;
    /* width: 10%; */
  }
    #button1{
      /* position: absolute; */
      width: 100%;
      height: 72px;
      /* left: 27px;
      top: 499px; */
      color:white;

    background: #1D55E6;
    border-radius: 12px;
    }
    #button2{
      
      /* position: absolute; */
      width: 100%;
      height: 72px;
      /* left: 27px;
      top: 499px; */
      color:white;
        
        background: #A286CF;
        border-radius: 12px;
    }
  
    #name{
     
      font-family: SF Compact Display;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      letter-spacing: -1px;
  
      color: #1D55E5;
  
  
    }

    .btext{
        font-family: SF Compact Display;
        font-style: normal;
        font-weight: bold;
        font-size: 28px;
        line-height: 33px;
        display: flex;
        align-items: center;
        letter-spacing: -0.02em;


    }
  
